backend/components/replication/statemachines/replicationbatch.yaml
QueryLanguage: JSONata
StartAt: GetFlows
States:
  GetFlows:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Arguments:
      FunctionName: ${FlowHierachyResolverFunctionArn}
      Payload: >-
        {% $states.input %}
    Output: >-
      {% $states.result.Payload %}
    Next: MapFlowCreation
  MapFlowCreation:
    Type: Map
    Items: >-
      {% $map($states.input.flows, function($v) {{"originConnectionArn": $states.input.originConnectionArn,  "originEndpoint": $states.input.originEndpoint, "flow": $v, "timerange": $exists($states.input.timerange) ? $states.input.timerange : null}}) %}
    MaxConcurrency: 1
    ItemProcessor:
      ProcessorConfig:
        Mode: INLINE
      StartAt: CheckFlow
      States:
        CheckFlow:
          Type: Task
          Resource: arn:aws:states:::states:startExecution.sync:2
          Arguments:
            StateMachineArn: ${ReplicationFlowArn}
            Input:
              AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID: >-
                {% $states.context.Execution.Id %}
              originConnectionArn: >-
                {% $states.input.originConnectionArn %}
              originEndpoint: >-
                {% $states.input.originEndpoint %}
              flow: >-
                {% $states.input.flow %}
              timerange: >-
                {% $states.input.timerange %}
          Output:
            originEndpoint: >-
              {% $states.input.originEndpoint %}
            originConnectionArn: >-
              {% $states.input.originConnectionArn %}
            flowId: >-
              {% $states.input.flow.id %}
            timerange: >-
              {% $exists($states.input.timerange) ? $states.input.timerange : $states.result.Output.timerange %}
          End: True
    Next: MapFlowSegments
  MapFlowSegments:
    Type: Map
    Items: >-
      {% $states.input %}
    ItemProcessor:
      ProcessorConfig:
        Mode: INLINE
      StartAt: GetSegments
      States:
        GetSegments:
          Type: Task
          Resource: arn:aws:states:::http:invoke
          Arguments:
            Method: GET
            InvocationConfig:
              ConnectionArn: >-
                {% $states.input.originConnectionArn %}
            ApiEndpoint: >-
              {% $states.input.originEndpoint & '/flows/' & $states.input.flowId & '/segments' %}
            QueryParameters:
              limit: 10
              presigned: true
              reverse_order: true
              timerange: >-
                {% $states.input.timerange %}
          Assign:
            originEndpoint: >-
              {% $states.input.originEndpoint %}
            originConnectionArn: >-
              {% $states.input.originConnectionArn %}
            flowId: >-
              {% $states.input.flowId %}
            timerange: >-
              {% $states.input.timerange %}
            nextKey: >-
              {% $states.result.Headers.`x-paging-nextkey` ? $states.result.Headers.`x-paging-nextkey`[0] : null %}
          Retry:
            - ErrorEquals:
                - Events.ConnectionResource.InvalidConnectionState
                - Events.ConnectionResource.AuthInProgress
                - Events.ConnectionResource.ConcurrentModification
              IntervalSeconds: 1
              BackoffRate: 2
              MaxAttempts: 3
          Output: >-
            {% $states.result.ResponseBody %}
          Next: SegmentsFound
        SegmentsFound:
          Type: Choice
          Default: Success
          Choices:
            - Next: MapSegments
              Condition: >-
                {% $boolean($states.input) %}
        MapSegments:
          Type: Map
          Items: >-
            {% [$map($states.input, function($v, $i) {{"index": $i, "segment": $v}})] %}
          ItemProcessor:
            ProcessorConfig:
              Mode: INLINE
            StartAt: MessageBody
            States:
              MessageBody:
                Type: Pass
                Output:
                  flowId: >-
                    {% $flowId %}
                  timerange: >-
                    {% $states.input.segment.timerange %}
                  uri: >-
                    {% $states.input.segment.get_urls[0].url %}
                  deleteSource: false
                  objectId: >-
                    {% $states.input.segment.object_id %}
                Next: Entry
                Assign:
                  index: >-
                    {% $states.input.index %}
              Entry:
                Type: Pass
                End: true
                Output:
                  Id: >-
                    {% $string($index) %}
                  MessageBody: >-
                    {% $string($states.input) %}
          Next: SendMessageBatch
        SendMessageBatch:
          Type: Task
          Resource: arn:aws:states:::aws-sdk:sqs:sendMessageBatch
          Arguments:
            Entries: >-
              {% $states.input %}
            QueueUrl: ${QueueUrl}
          Next: NextKeyExists
        NextKeyExists:
          Type: Choice
          Default: Success
          Choices:
            - Next: GetSegmentsNextPage
              Condition: >-
                {% $boolean($nextKey) %}
        GetSegmentsNextPage:
          Type: Task
          Resource: arn:aws:states:::http:invoke
          Arguments:
            Method: GET
            InvocationConfig:
              ConnectionArn: >-
                {% $originConnectionArn %}
            ApiEndpoint: >-
              {% $originEndpoint & '/flows/' & $flowId & '/segments' %}
            QueryParameters:
              limit: 10
              presigned: true
              reverse_order: true
              timerange: >-
                {% $timerange %}
              page: >-
                {% $nextKey %}
          Assign:
            nextKey: >-
              {% $states.result.Headers.`x-paging-nextkey` ? $states.result.Headers.`x-paging-nextkey`[0] : null %}
          Retry:
            - ErrorEquals:
                - Events.ConnectionResource.InvalidConnectionState
                - Events.ConnectionResource.AuthInProgress
                - Events.ConnectionResource.ConcurrentModification
              IntervalSeconds: 1
              BackoffRate: 2
              MaxAttempts: 3
          Output: >-
            {% $states.result.ResponseBody %}
          Next: SegmentsFound
        Success:
          Type: Succeed
    End: True