backend/components/ingest-ffmpeg/statemachines/ffmpegbatch.yaml
QueryLanguage: JSONata
StartAt: CheckTimerange
States:
  CheckTimerange:
    Type: Pass
    Assign:
      inputFlow: >-
        {% $states.input.inputFlow %}
      sourceTimerange: >-
        {% $boolean($states.input.sourceTimerange) ? $states.input.sourceTimerange: '_' %}
      ffmpeg: >-
        {% $states.input.ffmpeg %}
      outputFlow: >-
        {% $states.input.outputFlow %}
    Next: GetStoreName
  GetStoreName:
    Type: Task
    Resource: arn:aws:states:::http:invoke
    Arguments:
      Method: GET
      InvocationConfig:
        ConnectionArn: ${ConnectionArn}
      ApiEndpoint: ${TamsEndpoint}/service
    Assign:
      storeName: >-
        {% $states.result.ResponseBody.name ? $states.result.ResponseBody.name : 'tams' %}
    Retry:
      - ErrorEquals:
          - Events.ConnectionResource.InvalidConnectionState
          - Events.ConnectionResource.AuthInProgress
          - Events.ConnectionResource.ConcurrentModification
        IntervalSeconds: 1
        BackoffRate: 2
        MaxAttempts: 3
    Next: GetSegments
  GetSegments:
    Type: Task
    Resource: arn:aws:states:::http:invoke
    Arguments:
      Method: GET
      InvocationConfig:
        ConnectionArn: ${ConnectionArn}
      ApiEndpoint: >-
        {% '${TamsEndpoint}/flows/' & $inputFlow & '/segments' %}
      QueryParameters:
        limit: 10
        accept_get_urls: >-
          {% 'aws.${AwsRegion}:s3:' & $storeName %}
        timerange: >-
          {% $sourceTimerange %}
    Assign:
      nextKey: >-
        {% $states.result.Headers.`x-paging-nextkey` ? $states.result.Headers.`x-paging-nextkey`[0] : null %}
    Retry:
      - ErrorEquals:
          - Events.ConnectionResource.InvalidConnectionState
          - Events.ConnectionResource.AuthInProgress
          - Events.ConnectionResource.ConcurrentModification
        IntervalSeconds: 1
        BackoffRate: 2
        MaxAttempts: 3
    Output:
      segments: >-
        {% $states.result.ResponseBody %}
    Next: SegmentsFound
  SegmentsFound:
    Type: Choice
    Default: Success
    Choices:
      - Next: MapSegments
        Condition: >-
          {% $boolean($states.input.segments) %}
  MapSegments:
    Type: Map
    Items: >-
      {% $map($states.input.segments, function($v, $i) {{"index": $i, "segment": $v}}) %}
    ItemProcessor:
      ProcessorConfig:
        Mode: INLINE
      StartAt: MessageBody
      States:
        MessageBody:
          Type: Pass
          Output:
            segments: >-
              {% [$states.input.segment] %}
            outputBucket: ${BucketName}
            outputPrefix: ffmpeg/
            ffmpeg: >-
              {% $ffmpeg %}
            outputFlow: >-
              {% $outputFlow %}
          Next: Entry
          Assign:
            index: >-
              {% $states.input.index %}
        Entry:
          Type: Pass
          End: true
          Output:
            Id: >-
              {% $string($index) %}
            MessageBody: >-
              {% $string($states.input) %}
    Next: SendMessageBatch
  SendMessageBatch:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:sqs:sendMessageBatch
    Arguments:
      Entries: >-
        {% $states.input %}
      QueueUrl: ${QueueUrl}
    Next: NextKeyExists
  NextKeyExists:
    Type: Choice
    Default: Success
    Choices:
      - Next: GetSegmentsNextPage
        Condition: >-
          {% $boolean($nextKey) %}
  GetSegmentsNextPage:
    Type: Task
    Resource: arn:aws:states:::http:invoke
    Arguments:
      Method: GET
      InvocationConfig:
        ConnectionArn: ${ConnectionArn}
      ApiEndpoint: >-
        {% '${TamsEndpoint}/flows/' & $inputFlow & '/segments' %}
      QueryParameters:
        limit: 10
        accept_get_urls: >-
          {% 'aws.${AwsRegion}:s3:' & $storeName %}
        timerange: >-
          {% $sourceTimerange %}
        page: >-
          {% $nextKey %}
    Assign:
      nextKey: >-
        {% $states.result.Headers.`x-paging-nextkey` ? $states.result.Headers.`x-paging-nextkey`[0] : null %}
    Retry:
      - ErrorEquals:
          - Events.ConnectionResource.InvalidConnectionState
          - Events.ConnectionResource.AuthInProgress
          - Events.ConnectionResource.ConcurrentModification
        IntervalSeconds: 1
        BackoffRate: 2
        MaxAttempts: 3
    Output:
      segments: '{% $states.result.ResponseBody %}'
    Next: SegmentsFound
  Success:
    Type: Succeed
